langchain
langchain_community
langchain_core
langchain_openai
python-dotenv
streamlit
chromadb
beautifulsoup4
crewai==0.30.0
pydantic
langchain-anthropic
pysqlite3-binary
duckduckgo-search
python-dotenv
airtable-python-wrapper
pandas
langsmith
fpdf
pyairtable

